{% extends "base.html" %}

{% block head %}

    <title>О {{ artist.username }}</title>

{% endblock %}

{% block body %}

    {% include 'main_menu.html' %}

    <div class="black-menu-area">
    </div>
    <div id="wrap">

        {% include 'core/artist_menu.html' with artist=artist %}

        <div id="wrap-inner">
            <div id="content" class="group">
                <div id="main" class="main-full">

                    {% include 'core/artist_information.html' with artist=artist %}

                    <div class="artist-information">
                        {{ artist.information | safe }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}