.noScroll {
    overflow: hidden;
}

.Modal {
    position: fixed;
    top: 0px;
    z-index: 9998;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    -ms-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

.Modal .modalMask.dark {
    background-color: #000;
    opacity: 0.8;
}

.Modal .modalMask {
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: fixed;
}

.Modal .modalContainer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: fixed;
}

div.gallery-close-button:hover {
    cursor: pointer;
}

div.gallery-close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 0px;
  background-image: url("../img/close-button.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
}

div.gallery-thumb-container {
    width: 96px;
    height: 100px;
    white-space: nowrap;
    text-align: center;
    border-style:solid;
	border-color:#222;
    border-width: 2px;
}

span.gallery-thumb-span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 -2px;
}

li.selected div.gallery-thumb-container{
	border-color:#fff;
}